# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.env

# Data and Outputs (to prevent huge pushes)
# Keep only the essential code and reports in the repo.
# If you want to push specific results, modify this section.
data/processed/
outputs/whisper-small-lora/
outputs/autolyrics-model-full/
*.wav
*.mp3

# IDE
.vscode/
.idea/
